{% load static %}
{% load tz %}
{% timezone "Europe/Moscow" %}

<!DOCTYPE html>
<html class="h-100">

<head>
  <title>Сегодня в новостях</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'newsfeedner/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static "newsfeedner/favicon.png" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="d-flex flex-column h-100 bg-light">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          <li class="nav-item active mx-1">
            <a class="nav-link" href="{% url 'main_page' %}"><i class="fas fa-newspaper fa-lg"></i> Сегодня в новостях <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'wordclouds' %}"><i class="fas fa-cloud"></i> Облака слов</a>
          </li>
          <li class="nav-item dropdown mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><i class="far fa-file-alt"></i> Сущности</a>
            <div class="dropdown-menu" aria-labelledby="dropdown10">
              <a class="dropdown-item" href="{% url 'ent_class' 'PER'%}">Персоны</a>
              <a class="dropdown-item" href="{% url 'ent_class' 'LOC'%}">Локации</a>
              <a class="dropdown-item" href="{% url 'ent_class' 'ORG'%}">Организации</a>
            </div>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info-circle"></i> О проекте</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="https://github.com/ashatilov/newsfeed-ner" target="_blank" aria-label="GitHub"><i class="fab fa-github fa-lg"></i></a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="mailto:aleksandr.shatilov@gmail.com" target="_blank" aria-label="GitHub"><i class="fas fa-envelope-square fa-lg"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main role="main" class="flex-shrink-0">
    {% block main %}
    {% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endtimezone %}
</body>
</html>