{% extends 'rss/base.html' %}
{% load static %}
{% load bootstrap_pagination %}

{% block main %}

<div class="container py-3">
    <p class="text-center">Заголовки, содержащие <strong>«{{ entity_name }}»</strong></p>
    <div class="container">
    <div row>
        <ul class="list-group">
            {% for obj in entity_data %}
            <li class="list-group-item">
                {% for d in obj.title_json %}
                    {% if d.entity_class == "PER" %}
                        <a href="{% url 'entity_detail' d.entity_translit %}" class="per"> {{ d.words }} </a>
                    {% elif d.entity_class == "LOC" %}
                        <a href="{% url 'entity_detail' d.entity_translit %}" class="loc"> {{ d.words }} </a>
                    {% elif d.entity_class == "ORG" %}
                        <a href="{% url 'entity_detail' d.entity_translit %}" class="org"> {{ d.words }} </a>
                    {% else %} {{ d.words }}
                    {% endif %}
                {% endfor %}
                <br>
                <span class="small" style="padding-right:1em">{{ obj.published_parsed|time:"H:i" }}</span><a class="text-muted small" href="{{ obj.url }} " target="_blank">{{ obj.feed.name }}</a>
            </li>
            {% endfor %}
        </ul>
        </div>
    

    {% if is_paginated %}
    <div class="row mt-3 justify-content-center">
        {% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" extra_pagination_classes="pagination-sm" %}
    </div>
    {% endif %}

    </div>

</div>

{% endblock main %}